.RollDice {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.RollDice-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 0px 15px #00000050;
}

.RollDice button {
    width: 15em;
    padding: 1em;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
}

.RollDice button:hover {
    background-color: #363737;
    cursor: pointer;
}